# ignore .gitignore
.gitignore

# ignore JetBrains IDE files
.idea/

# ignore npm dependencies
node_modules/

# ignore 9animeCompanion dist directory
dist/chromium/
dist/firefox/
dist/9anime_Companion_chrome.zip
dist/9anime_Companion_firefox.zip
archive
changelog.txt

# ignore macOS related files
*.DS_Store

# ignore css directory
src/assets/css
