# ignore JetBrains IDE files
.idea/

# Ignore the coverage for now
coverage/

# Dependency directories
node_modules/

# npm log files
npm-debug.log

# ignore 9animeCompanion dist directory
dist/

# ignore macOS related files
*.DS_Store

# Ignore the build directory
src/build
