<div id="nac__dl-all__links-modal" class="nac__modal">
    <div class="container">
        <div class="header">
            Make sure to <a href="https://github.com/lap00zza/9anime-Companion/wiki"
                            target="_blank">read the wiki</a> on how to set up external downloaders.
        </div>
        <div class="body">
            <textarea readonly id="nac__dl-all__links"></textarea>
        </div>
        <div class="footer">
            <div class="footer__item">
                <button type="button" id="nac__dl-all__copy-links">
                    <img src="">
                    Copy to clipboard
                </button>
            </div>
        </div>
    </div>
</div>
