<div id="nac__dl-all__links-modal" class="nac__modal">
    <div class="container">
        <div class="header">
            <span class="title">
                Make sure to <a href="https://github.com/lap00zza/9anime-Companion/wiki" target="_blank">
                read the wiki</a> on how to set up external downloaders.
            </span>
            <button type="button" class="nac__modal__close">
                <span>&times;</span>
            </button>
        </div>
        <div class="body">
            <textarea readonly id="nac__dl-all__links"></textarea>
        </div>
        <div class="footer">
            <button  class="footer__item" type="button" id="nac__dl-all__copy-links">
                <img src="">
                Copy to clipboard
            </button>
        </div>
    </div>
</div>
