<div id="nac__dl-all__ep-modal">
    <div class="container">
        <div class="header">
            <span class="title"></span>
        </div>
        <div class="body"></div>
        <div class="footer">
            <a class="footer__item" id="nac__dl-all__select-all">Select All</a>
            <br>
            <div class="footer__options">
                <div class="footer__item">
                    <span>Quality</span>
                    <select id="nac__dl-all__quality">
                        <option value="360p">360p</option>
                        <option value="480p">480p</option>
                        <option value="720p">720p</option>
                        <option value="1080p">1080p</option>
                    </select>
                </div>
                <span style="display: inline-block; width: 80px"></span>
                <div class="footer__item">
                    <span>Downloader</span>
                    <select id="nac__dl-all__method">
                        <option value="browser">Browser</option>
                        <option value="external">External</option>
                    </select>
                </div>
            </div>
            <br>
            <a class="footer__item" id="nac__dl-all__download">Download</a>
        </div>
    </div>
</div>
