<div id='nac__enhancedSearch' style="display: none;">
    <div class="header">
        <div style="display: inline-block;">
            Search
            <p class="meta">Press <kbd>Esc</kbd> from the search box to close this window</p>
        </div>
        <button type="button" id="nac__enhancedSearch__close" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <input type="text" id="nac__enhancedSearch__searchBox" spellcheck="false">
    <div id="nac__enhancedSearch__results">

    </div>
</div>
