<div id="nac__mal__quick-access">
    <!-- 9anime Companion: MAL Quick Access Widget -->
    <img id="nac__mal__status-icon" src="">
    <div class="loader">
        <img src="">
        <span class="status">Loading failed</span>
    </div>
    <!-- Add: -->
    <div id="nac__mal__section-add" style="display: none;">
        <div style="margin-bottom: 5px;">This anime is not in your MAL</div>
        <button id="nac__mal__add" class="nac__mal__btn">Add</button>
    </div>
    <!-- Update: -->
    <div id="nac__mal__section-update" style="display: none;">
        <div class="nac__flex-row" style="margin-bottom: 5px;">
            <span class="nac__flex-spacer">Episode</span>
            <div>
                <input type="text" size="3" id="nac__mal__watched-ep">
                <button id="nac__mal__increment-ep" class="nac__mal__btn">+</button>
                /<span id="nac__mal__total-ep">10</span>
            </div>
        </div>
        <button id="nac__mal__update" class="nac__mal__btn">Update</button>
    </div>
    <!--<button id="nac__mal__open-overlay" class="nac__mal__btn">Advanced</button>-->
</div>
