body
  //margin: 0
  font-family: "Segoe UI", Tahoma, sans-serif

.container
  width: 300px
  //max-height: 200px

#nac__recently-watched
  max-height: 300px
  overflow-y: auto

  .item
    padding: 8px 0
    cursor: pointer
    &:hover
      background: #f5f5f5
    .name
      font-size: 14px
    .episode
      display: inline-block
      font-size: 11px
      padding: 1px 7px 1px 7px

      background: lightblue
      border-radius: 10px
