// CSS for the pin icon than appears on anime
// items on the 9anime website
.pin_anime
    position: absolute
    bottom: 45px
    right: 0
    padding: 1px
    cursor: pointer
    z-index: 15
    color: white
    border-top-left-radius: 5px
    height: 25px
    width: 25px
    background-color: #1A237E
    text-align: center
    line-height: 25px

    &:hover
        background-color: #304FFE

    img
        height: 15px
        width: 15px

.player_utilities
    width: 100%
    display: flex
    margin-top: 10px
    font-size: 13px

    .utility_item
        display: inline-flex
        align-items: center
        justify-content: center
        cursor: pointer
        color: #9a9a9a
        margin-left: 20px
        &:hover
            color: #723F8C

    .utility_item:first-child
        margin-left: 0

    // Styles for the individual utility items
    #pin_utility
        img
            opacity: 0.5
            height: 11px
            width: 13px

    #reddit_disc_utility
        img
            margin-top: -4px
            padding-right: 3px
            opacity: 0.7

    #mal_search_utility
        img
            height: auto
            width: 15px
            opacity: 0.7
            margin-top: -2px
            padding-right: 3px

    #download_all_utility
        img
            height: auto
            width: 15px
            opacity: 0.7
            margin-top: -2px
            padding-right: 3px

@keyframes fadeIn
    from
        opacity: 0
    to
        opacity: 1

.mal_integration
    color: #9a9a9a
    margin-top: 10px
    width: 250px
    border: 1px solid #1e1e1e
    border-radius: 4px
    height: 75px
    padding-left: 5px
    padding-right: 5px
    padding-top: 5px
    font-size: 14px
    position: relative

    #_mal_ops_status_
        position: absolute
        bottom: 0
        right: 0

    #recommended
        border: 0
        background: #08080b
        font-size: 15px
        width: 100%

    // Styles for the add shell.
    .mal_add_shell
        animation: fadeIn
        animation-duration: 0.5s
        animation-fill-mode: forwards
        .mal_add_anime
            padding-left: 4px
            padding-right: 4px

    // Styles for the update shell.
    .mal_update_shell
        animation: fadeIn
        animation-duration: 0.5s
        animation-fill-mode: forwards
        .mal_episodes
            padding-left: 4px
            padding-right: 4px
            .episode_select
                float: right
                position: relative
                .qol_mal_episode_increment
                    margin-right: 5px
                    height: 15px
                    width: auto
                    cursor: pointer
                    &:hover
                        opacity: 0.8
                select
                    border: 0
                    background: #08080b

    .mal_shell_btn
        background: lighten(#08080b, 5%)
        border: 0
        &:hover
            background: lighten(#08080b, 10%)
        &:active
            background: #08080b
