// All the styles should be prefixed with nac__
// why nac and not 9ac? because css cant have
// numbers as selectors
#nac__utility-bar
  margin-top: 10px !important

  .utility
    display: inline-block

  .utility > img
    max-height: 16px
    margin: 2px 5px 2px 0

  .utility:not(:first-child)
    margin-left: 10px
